<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/courses', courseId]">Curso</a></li>
    <li class="breadcrumb-item active" aria-current="page">Capitulo</li>
  </ol>
</nav>

<ng-container *ngIf="chapter">
  <h1 class="display-4 my-5">{{ chapter.title }}</h1>

  <markdown ngPreserveWhitespaces>
    {{ chapter.content }}
  </markdown>

  <div class="check my-5">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="checkCourse()" [disabled]="!this.userId">
      <i class="fas fa-check"></i>
      Marcar curso como visto
    </button>
  </div>
</ng-container>